
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root {
  --bg: #232323;
  --dark-bg: #181818;
  --white: #fff;
  --tab-col: #636363;
  --inp-col: #2C2C2C;
  --button-border-col: #505050;
  --separator-col: #242424;
  --light-red: #E16757;

  /* White Theme Variables */
  --bg-light: #ffffff;
  --dark-bg-light: #f5f5f5;
  --white-light: #000;
  --tab-col-light: #636363;
  --inp-col-light: #e0e0e0;
  --button-border-col-light: #dcdcdc;
  --separator-col-light: #dcdcdc;
  --light-red-light: #e16757;
}

body.white-theme {
  --bg: var(--bg-light);
  --dark-bg: var(--dark-bg-light);
  --white: var(--white-light);
  --tab-col: var(--tab-col-light);
  --inp-col: var(--inp-col-light);
  --button-border-col: var(--button-border-col-light);
  --separator-col: var(--separator-col-light);
  --light-red: var(--light-red-light);
}


body {
  font-family: "Open Sans", sans-serif;
  padding: 15px 15px 0;
  background: var(--dark-bg);
  color: var(--white);
}

.plugin-cover {
  background: var(--bg);
  border-radius: 10px;
  width: 350px;
  padding: 10px;
  height: 390px;
  overflow: auto;
  position: relative;
  z-index: 4;
}

.tab-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: var(--tab-col);
  border-bottom: none;
  font-weight: 400;
  font-size: 13px;
}

.tab.active {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.tab-content img {
  margin: 0 auto;
  display: none;
  transition: .8s;
  padding-top: 40px;
}

.tab-content {
  display: none;
}

.tab-content h1 {
  color: var(--white);
}

.tab-content.active {
  display: block;
}

.hidden {
  display: none;
}

.blocked-sites-list {
  list-style-type: none;
  padding: 0;
}

.blocked-sites-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
}

.blocked-sites-list li button {
  background: none;
  border: none;
  color: var(--light-red);
  cursor: pointer;
  position: relative;
  left: 4px;
  opacity: .4;
}

li button:hover {
  opacity: 1;
  transition: .9s;
}

label, .break-reminder, #status {
  color: var(--tab-col);
  text-align: center;
}

.label-class {
  position: relative;
  bottom: 3px;
  color: var(--white);
  font-weight: 400;
}

.input-class {
  background: var(--inp-col);
  border: 1px solid var(--inp-col);
  height: 35px;
  border-radius: 5px;
  color: var(--white);
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  margin-bottom: 10px;
  outline: none;
}

.break-interval {
  margin-bottom: 12px;
}

button, li {
  background: var(--bg);
  border: 1px solid var(--button-border-col);
  color: var(--tab-col);
  height: 30px;
  border-radius: 5px;
  min-width: 75px;
}

button:hover, li:hover {
  border: 1px solid var(--white);
  color: var(--white);
  transition: .9s;
  cursor: pointer;
}

.blocked-sites-list {
  color: var(--tab-col);
}

.blocked-site-text {
  color: var(--white);
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--tab-col);
  margin: 10px 0;
  opacity: .2;
}

li {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--tab-col);
  padding: 10px 0;
}

.name {
  color: var(--tab-col);
  padding: 0;
  margin-top: 10px;
  position: relative;
}

.align-center {
  text-align: center;
}

.anchor {
  font-size: 15px;
  position: relative;
  top: 12px;
}

a {
  color: var(--tab-col);
}

#resetPassword, #savePassword {
  width: 160px;
}

.show-pass {
  position: relative;
  font-size: 10px;
  bottom: 7px;
  right: 3px;
}

#backImg {
  position: absolute;
  opacity: .05;
  bottom: 4px;
  right: 20px;
  z-index: 0;
}

.point-cursor {
  cursor: pointer;
}

.mb-10 {
  margin-bottom: 10px;
}
